* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Sora", sans-serif;
}

input,
select,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
}

:root {
    --primary-color: #ff5b2e;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section-heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 121px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__img-wrap {
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--left {
    left: -58px;
    bottom: 10px;
}

.hero__decor--right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background: #faa7ad;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    padding: 18px 14px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec03b;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__separate {
    display: block;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
    margin: 20px 0;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #c6e2fa;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.hero__row {
    margin-top: 38px;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;

    min-width: 189px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn__icon {
    color: var(--primary-color);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

/* about */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.about__media {
    position: relative;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    box-shadow: 0px 12px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 3px;
    content: url(../icon/Check_01.svg);
}

/* about__card */
.about__card {
    position: absolute;
    text-align: center;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.428; /* 142.857% */
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -29px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    position: absolute;
    /* inset: auto 0 0 0;  trên tự động trái phải dưới 0 */
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: -1;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media_decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap--bottom {
    width: 458px;
    margin-left: 0;
    box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
    border-radius: 18px;
    background: #c4c4c4;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
}

.about__img-wrap--bottom::after {
    content: none;
}

.about__img--bottom {
    width: 100%;
}

.about_decor--img {
    position: absolute;
}

.about_decor--img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about_decor--img:nth-child(2) {
    top: -17px;
    right: 17px;
}
.about_decor--img:nth-child(3) {
    top: 27px;
    right: -24px;
}
.about_decor--img:nth-child(4) {
    bottom: 1px;
    left: 30px;
}
.about_decor--img:nth-child(5) {
    bottom: -10px;
    right: 91px;
}
.about_decor--img:nth-child(6) {
    top: 288px;
    right: -32px;
}
.about_decor--img:nth-child(7) {
    bottom: 168px;
    right: 24px;
}
.about_decor--img:nth-child(8) {
    right: -19px;
    bottom: -40px;
}
.about_decor--img:nth-child(9) {
    right: -33px;
    bottom: -47px;
}

.about_decor--img:nth-child(10) {
    right: -42px;
    bottom: -55px;
}

.about-desc--bottom {
    max-width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__content-more::after,
.tab__item--active::after,
.tab__list::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    /* transform: translateX(-50%); */
    display: inline-block;
    width: 100%;
    height: 2px;
    opacity: 0.07000000029802322;
    border-radius: 1px;
    background: #ff5b2e;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 15px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-desc {
    max-width: 391px;
    color: #656689;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    padding-bottom: 5px;
}

.tab__content-more::after {
    opacity: 1;
}

.tab__content-item {
    height: 1.5px;
    display: none;
}

.tab__content-item--active {
    display: block;
}

/* services */

.services {
    margin-top: 192px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.services__top {
    text-align: center;
}

.services__desc {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-bottom: 15px;
}

.services__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 65px;
    column-gap: 70px;
}

.services__column {
}

.services-item {
    padding: 30px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services-item + .services-item {
    margin-top: 24px;
}

.services-item--heading {
    position: relative;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
    padding-left: 13px;
}

.services-item--heading::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    display: inline-block;
    width: 2px;
    background: linear-gradient(63deg, #ff5b2e 0%, #ffa187 100%);
    border-radius: 1px;
}

.services-item--desc {
    margin-top: 18px;
    color: #656689;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.714; /* 171.429% */
}

.services-item__more {
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.services-item__more::after {
    content: url(../icon/arrow_up_right.svg);
    margin: 2px 0 0 7px;
}

.services__media {
    position: relative;
    margin-top: 18px;
}

.services__media::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    display: inline-block;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
}

.services__img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}

.services__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.services__cta {
    min-width: 214px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    opacity: 0.6000000238418579;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #ff5b2e;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}

/* staff */
.staff {
    padding: 130px 0;
}

.staff__desc,
.staff__heading {
    text-align: center;
    color: #5e6085;
}

.staff__heading {
    margin-top: 15px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 6px;
    border-radius: 130px;
}

/******Lưu ý làm ảnh ******/
.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 94%;
    background: #80c1f9;
    border-radius: inherit; /*kế thừa bên trên */
}

.staff-item__img-wrap::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: calc(100% + 36px);
    height: 100%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../icon/staff_blue.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: #fb8d65;
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../icon/staff_red.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: #fcb542;
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../icon/staff_blue.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: #2ebfd7;
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../icon/staff_red.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0px 16px;
}

.staff-item__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}

/****** ***** ******/

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.staff-item__name {
    margin-top: 24px;
    color: #000958;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff__cta--btn {
    min-width: 193px;
    color: #ff5b2e;
    border-color: currentColor;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border: 1px solid #ff5b2e99;
    border-radius: 99px;
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    background: #ff5b2e;
    border-radius: inherit;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
    color: #fff;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(1) {
    color: #ff5b2e;
}

.pricing__inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    top: -12px;
    right: -110px;
}

/* pricing__list */

.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 57px;
}

.pricing-container {
    width: 994px;
}

.pricing-item {
    background: #fff;
    border-radius: 20px;
    padding: 30px 28px;
}

.pricing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03; /* 103.03% */
}

.pricing-item__btn {
    --height: 44px;
    margin-top: 22px;
    width: 100%;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    background-color: #fff;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    margin-top: 18px;
    color: #656689;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing-item__item::before {
    content: url(../icon/Check_pricing.svg);
    margin-right: 14px;
}

.pricing-item--active {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

/* ================================= reviews =============================== */
.reviews {
    padding: 104px 0 52px;
}

.reviews__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.reviews__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #ffd1c4;
    flex-shrink: 0;
    background: transparent;
    color: #ff5b2e;
}

.reviews__control:nth-of-type(2) {
    margin-left: auto;
}

/* reviews__list */
.reviews__list {
    display: flex;
}

.reviews__control:hover {
    color: #fff;
    background: #ff5b2e;
    border-color: #ff5b2e;
}

.reviews-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
    width: 100%;
}

.reviews-item__media {
    position: relative;
    width: 274px;
    flex-shrink: 0;
    border-radius: 137px;
    margin-top: -52px;
}

.reviews__content {
    overflow: hidden;
}

.reviews-item__media::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 82%;
    background: #ffda53;
    border-radius: inherit;
}

.reviews-item__img {
    width: 100%;
    border-radius: inherit;
    position: relative;
    z-index: 1;
    display: block;
}

.reviews-item__content {
    margin-top: 28px;
}

.reviews-item__quote {
    width: 553px;
    margin-top: 24px;
    color: #000;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.556; /* 155.556% */
}

.reviews-item__author {
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.reviews-item__author::before {
    display: inline-block;
    content: "";
    margin-right: 8px;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 1px;
}

.reviews__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.reviews__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #ff5b2e;
}

.reviews__dot:hover {
    background: #ff5b2e;
    cursor: pointer;
}

.reviews__dot--active {
    width: 24px;
    background: #ff5b2e;
}

/* blog */
.blog {
    padding-top: 78px 0;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__info {
    width: 350px;
    margin-right: 74px;
}

.blog__desc {
    margin-top: 0;
}

.blog__cta {
    min-width: 182px;
    margin-top: 24px;
    color: #ff5b2e;
    border: 1px solid rgba(255, 91, 46, 0.42);
    opacity: 0.6;
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    margin-top: 54px;
}

.blog-item {
}

.blog-item__img-wrap {
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background: #90ccff;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5bd6e2;
}

.blog-item__time {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.214; /* 121.429% */
}

.blog-item__img {
    width: 100%;
    height: 296px;
    object-fit: cover;
    margin-top: 25px;
    display: block;
}

.blog-item__info {
    padding: 28px 6px 0 0;
}

.blog-item__title {
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.545; /* 154.545% */
}

.blog-item__desc {
    width: 351px;
    margin-top: 16px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.72; /* 171.429% */
}

/* footer */
.footer {
    margin-top: 52px;
    background: linear-gradient(to right, #fff6ed 42%, transparent 43%);
}

.footer__inner {
    display: flex;
}

.footer__left {
    width: 42%;
    padding: 114px 0 148px;
}

.footer__right {
    flex: 1;
    padding: 52px 0 48px 0;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 268px;
    height: 46px;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    opacity: 0.6000000238418579;
    background: #fff;
    margin: 34px 0 68px;
}

.subscribe-form--input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 0 22px;
}

.subscribe-form--input::placeholder {
    color: #656689;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.167; /* 116.667% */
}

.subscribe-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 45px;
    height: 46px;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
    border: none;
    outline: none;
    color: #fff;
    margin-right: -1px;
}

.subscribe-form__submit:hover {
    opacity: 0.9;
    cursor: pointer;
}

.footer__heading {
    color: #000958;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11; /* 111.111% */
}

.social-list {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
}

.social-item:hover {
    opacity: 0.8;
}

.footer__row {
    margin-left: 129px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 157px;
}

.footer__list {
    margin-top: 14px;
}

.footer__link {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2; /* 200% */
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    margin: 52px 0 0 22px;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.167; /* 116.667% */
}
